



.slider1 {
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.slider2 {
  position: absolute;
  overflow: hidden;
  left: 0%;
}


.back-button {
  left: 8px;
}

.forward-button {
  left: 450px;
}


.back-button {
  left: 1%;
}






.slider-button{
  top: 100px;
  position: absolute;
  background-color: rgba(234, 240, 239, 0.251);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}


.slider-button:hover {
  background-color: rgba(234, 240, 239, 0.251);
}

.slider-button:active {
  background-color: rgba(210, 218, 216, 0.251);
}

