



.slider1 {
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.slider2 {
  position: absolute;
  overflow: hidden;
  left: 0%;
}


.back-button {
  left: 8px;
}

.forward-button {
  left: 470px;
}


.back-button {
  left: 1%;
}




.slider-button{
  top: 100px;
  position: absolute;
  background-color: rgba(234, 240, 239, 0.426);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}


.slider-button:hover {
  cursor: pointer;
  border:solid rgba(0, 0, 0, 0.393) 1px;
  background-color: rgba(234, 240, 239, 0.251);
}

.slider-button:active {
  background-color: rgba(210, 218, 216, 0.251);
}



/* Mobile View Stylings */


.carousel-container {
  width: 100%;
  overflow: hidden;
}


.carousel-double-image,
.carousel-slides {
  display: flex;
  transition: transform 0.4s;
}


.carousel-image {
  width: 50%;
  aspect-ratio: 1/1;
  flex-shrink: 0;

  height: 20vh;

  justify-content: center;
  align-items: center;
  justify-items: center;
}


.carousel-image img{
  width: 50vw;
  aspect-ratio: 1/1;
  object-fit: cover;

}



.carousel-slides {
  display: flex;
  transition: transform 0.3s ease;
}

.back-button-mobile {
  left: 8px;
}

.forward-button-mobile {
  right: 8px;
}


.slider-button-mobile{
  top: 100px;
  position: absolute;
  background-color: rgba(234, 240, 239, 0.426);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}


.slider-button-mobile:hover {
  cursor: pointer;
  border:solid rgba(0, 0, 0, 0.393) 1px;
  background-color: rgba(234, 240, 239, 0.251);
}

.slider-button-mobile:active {
  background-color: rgba(210, 218, 216, 0.251);
}