.user-review-container{
  position: relative;
  width: 1000px;
  height: fit-content;
  top: 5px;
  margin-top: 5px;
  border-top: solid black 1px;
}

.user-review-name{
  margin-top: 15px;
  position: relative;
  width: 100px;
  height: 30px;
  top: 0px;
  font-size: 25px;
}

.user-review-month-year{
  position: relative;
  width: 200px;
  height: 20px;
  top: 0px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;

}

.user-review{
  position: relative;
  width: 1000px;
  height: 80px;
  top: 0px;
  font-size: 16px;

}