.user-review-container{
  position: relative;
  border: rgb(6, 95, 4) solid 3px;
  width: 1000px;
  height: 175px;
  top: 10px;
}

.user-review-name{
  position: relative;
  border: black solid 1px;
  width: 100px;
  height: 30px;
  top: 0px;
}

.user-review-month-year{
  position: relative;
  border: black solid 1px;
  width: 100px;
  height: 30px;
  top: 0px;
}

.user-review{
  position: relative;
  border: black solid 1px;
  width: 1000px;
  height: 115px;
  top: 0px;
}