.review-modal-container{
  border: solid rgb(0, 0, 0) 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 105px;
  border-radius: 15px;
  background-color:  #ffffff;
}