.spot-tile-link {
  text-decoration: none;
  color: inherit;
}





.spot-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 5px;
  background-color: #fff;
  color: inherit;
  cursor: pointer;
  margin-bottom: 16px;
  height: 320px;
  width: 320px;
  max-width: 430px;
  transition: height 1s;
}






.spot-tile:hover > .spot-tile-image-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.spot-tile:hover{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.spot-tile-image-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80%;
  border-radius: 14px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}


.spot-tile-spot-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.spot-tile-spot-image:hover {
  transform: scale(1.03); 

}

/* git revert 273d557 */

.heart-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  color: #040402e1;
  cursor: pointer;
  z-index: 1;
  width: fit-content;
}

.large{
  transform: scale(1.2);
}

.spot-tile-spot-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18%;
  width: 100%;
  left: 0%;
  bottom: 0%;
}




.spot-tile-location {
  position: absolute;
  width: 80%;
  top: 5px;
  left: 5px;
  font-size: 14px;
}
.spot-tile-price-night-container{  
  position: relative;
  width: 100px;
  height: fit-content;
  display: flex;
  align-items:flex-start;
  top: 24px;

}

.spot-tile-price {
  position: relative;
  color: #222;
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;

}

.spot-tile-night {
  padding-left: 4px;
  position: relative;
  color: #222;
  font-size: 14px;
  font-weight:lighter;
}

.spot-tile-short-description{
  width: 300px;
  height: 200px;
  overflow-wrap: break-word;
}

.spot-tile-avg-rating-container {
  width: 70px;
  height: 30px;
  position: absolute;
  right: 4px;
  top: 5px;
  transform: scale(.8);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}


.spot-tile-avg-rating-star {
  position: relative;
  left: 5px;
  transform: scale(.8);
}

.spot-tile-avg-rating {
  font-size: 14px;
}


.tooltip {
  border: solid black 1px;
  position: fixed;
  width: fit-content;
  height: fit-content;
}

.large-tip{

}

.spot-tile:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: visible;
  background-color: rgb(79, 78, 78, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border-top-left-radius: 12px;
  padding: 5px;
  position: fixed;
  z-index: 1000;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  border: solid black 1px;
}





