.spot-tile-link {
  text-decoration: none;
  color: inherit;
}

body{
  background-color: bisque;
}

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spot-tile {
  position: relative;

  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 5px;
  background-color: #fff;
  color: inherit;
  cursor: pointer;
  margin-bottom: 16px;
  font-family: Arial, sans-serif;
  height: 270px;
  max-width: 400px;
}

.spot-tile:hover > .spot-tile-image-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.spot-tile:hover{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.spot-tile-image-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 70%;
  border-radius: 14px;
  overflow: hidden;
}

.spot-image {
  width: 100%;
  height: 100%;

}

/* git revert 273d557 */

.heart-icon {
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 24px;
  color: #040402e1;
  cursor: pointer;
  z-index: 1;
  width: fit-content;
}

.large{
  transform: scale(1.2);
}

.spot-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  width: 100%;
  left: 0%;
  bottom: 0%;
}


.spot-tile-location {
  position: absolute;
  width: 80%;
  top: 5px;
}

.spot-tile-price {
  position: absolute;
  top: 30px;
  bottom: 40%;
  color: #222;
}

.spot-tile-avg-rating {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #222;
}

.spot-short-description {
  /* position: absolute;
  font-size: 15px;
  height: 80%;
  bottom: -15px;
  padding-top: 12px;
  padding: 5px; */
}

.spot-description-line {
  /* position: relative;
  bottom: -25px;

  border-top: solid black 1px; */
}


.tooltip {
  position: absolute;
  width: fit-content;
  height: fit-content;

}

.spot-tile:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: visible;
  background-color: rgb(79, 78, 78, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  border: solid black 1px;
}





