.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  padding: 16px;
}

/* Show 1 spot tile when screen width is less than 601px */
@media screen and (max-width: 600px) {
  .spots-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Show 2 spot tiles when screen width is between 601px and 970px */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .spots-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Show 3 spot tiles when screen width is between 971px and 1160px */
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .spots-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Show 4 spot tiles when screen width is 1160px or more */
@media screen and (min-width: 1300px) {
  .spots-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.spots-wrapper {
  position: relative;
  max-width: 1400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px; 
  display: flex;
  justify-content: center;
}

.spots-manage-spots-header{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 10px;
  font-size: 35px;
}