.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  padding: 16px;
}

@media screen and (min-width: 1024px) {
  .spots-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}