.spot-view-container{
  border: solid black 1px;
  max-width: 1000px;
  min-width: 1000px;
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%,0%);
}



.spot-view-image-container {
  border: solid rgb(0, 0, 0) 3px;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
}

.spot-view-preview-image-container {
  position: relative;
  left: 0px;
  width: 450px;
  height: 400px;
  overflow: hidden;
}

.spot-view-preview-image{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.spot-view-slide-container {
  border: solid rgb(32, 186, 101) 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 320px;
  left: 40px;

}



.preview-image-logo{
  position: relative;
  width: 50%;
  height: 30%;
  left: 25%;
  top: 35%;
}

.preview-image-gray{
  background-color: gray;
  position: relative;
  width: 100%;
  height: 100%;

}

.spot-view-des-res-container {
  border-bottom: black solid 1px;
  position: relative;
  width: 100%;
  height: 250px;
}

.spot-view-reservation-container{
  border: solid rgb(197, 81, 81) 1px;
  position: absolute;
  width: 300px;
  height: 125px;
  right: 0%;
  top: 4%;
  border-radius: 15px;
}


.spot-view-reservation-button{
  position: absolute;
  width: 60%;
  left: 20%;
  bottom: 3%;
  padding: 10px;

}




.spot-view-description-header{
  position: absolute;
  width: 300px;
  font-size: 25px;
  left: 0%;
  top: 2%;
}

.spot-view-description-container {
  overflow-y: auto;
  position: absolute;
  width: 690px;
  height: 200px;
  left: 0px;
  top: 35px;
}

.spot-view-description-text {
  position: absolute;
  width: 670px;
  font-size: 15px;
  left: 0%;
  top: -10px;
  word-wrap:break-word;
}

.spot-view-review-container{
  border: solid 1px blue;
  position: relative;
  width: 100%;
  height: 270px;
  font-size: 15px;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}