.modal {
  position: fixed;
  top: 50%;
  left: 45%;
  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translate(-50%,-50%);
}

.modal-content {
  position: relative;

  padding: 2rem;
  border-radius: 4px;
  max-width: 500px;
  max-height: 80%;
}

