.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
}

body{
  /* background-image: linear-gradient(to right, #fcf9f553, #ffffff); */

  /* background-color: #ffffff; */




}


*{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Helvetica Neue;

}

.close-button{
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  top: -20px;
  cursor: pointer;
}

.button2:active {
  transform: scale(.98);

}

.button {
  background-color: rgb(74, 113, 186);
  border: solid rgb(74, 113, 186) 1px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s background-color;
  font-size: 14px;
}


.button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #3b75e2;
}



.button:active {
  transform: scale(.92);
  background-color: rgb(74, 113, 186);
  box-shadow: rgba(60, 64, 67, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}

.disabled {
  font-size: 14px;
  width: 100%;
  background-color: rgb(106, 125, 161);
  
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: solid rgb(74, 113, 186,0.6) 1px;
}

.disabled:hover{
  border: solid rgba(255, 0, 0, 0.579) 1px;
  background-color: rgba(106, 125, 161, 0.958);
  
}

.disabled:focus {
  outline: none;
}

.disabled:active {
  transform: scale(.92);
  box-shadow: rgba(127, 127, 127, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


input,
textarea {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid rgb(106, 106, 106);

}

input:hover,
textarea:hover {
  border: 1px solid rgb(0, 0, 0);
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid cornflowerblue;
}

.link {
  width: fit-content;
  display: block;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: cornflowerblue;
  text-decoration: none;
  position: relative;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  text-decoration: none;
}


.button2:active {
  transform: scale(.98);
  box-shadow: rgba(60, 64, 67, .8) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}


.disabled2:active {
  box-shadow: rgba(60, 64, 67, .8) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transform: scale(.98);
}




.nav-button{
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: solid rgb(0, 0, 0,0.3) .1px;
  border-radius: 15px;
  cursor: pointer;
}


.nav-button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}


.nav-button:active{
 transform: scale(.92);
 box-shadow: rgba(127, 127, 127, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.fa-solid{
  color: black;
}





.shimmer {
  animation-duration: 4.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #eeecec 8%, #F0F0F0 18%, #F6F6F6 33%);
  background: linear-gradient(to right, #eae8e8 8%, #e3e0e0 18%, #efeeee 33%);



  background-size: 1200px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out{
  animation: fadeOut .5s forwards;
  animation-delay: 1s;
}
