.signin-form-page-container {
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  left: -800px;
}




.left{
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 7, 7, 0.5);
  border: solid black 1px;
}