.hidden {
  display: none;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 100%;
  background-image: linear-gradient(to right, #f4f0ebee, #ffffff, #f4ede5ee);


}

.nav-line{
  position: absolute;
  border-bottom: solid rgba(0, 0, 0, 0.103) 1px;
  top: 0%;
  left: 0px;
  height: 75px;
  width: 100%;
}

.logo {
  position: relative;
  transform: scale(.6);
  cursor: pointer;
  right: 35px;
}


.nav-user-buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 40px;
}

.nav-host-div{
  border: solid rgb(0, 0, 0,0.1) .001px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40px;
  width: 110px;
  height: 25px;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.3);
  font-size: 10px;
}

.nav-profile-button {
  border: solid rgb(0, 0, 0,0.1) .001px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 15px;
  top: 26px;
  right: 30px;
  width: 60px;
  height: 26px;
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.3);
}

@media screen and (max-width: 590px) {
  .nav-host-div{
    visibility: hidden;
  }
}

.nav-host-div:hover,
.nav-profile-button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}



.nav-host-div:active,
.nav-profile-button:active {
 transform: scale(1.2);
 background-color: #fff9f2ee;
 box-shadow: rgba(127, 127, 127, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.profile-button-active {
  background-color: #fff9f2ee;
  box-shadow: rgba(127, 127, 127, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  transform: scale(1.2);

 }


 .profile-button-icons{
  width: 35px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
  left: 3px;
 }









