.hidden {
  display: none;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 100%;
  background-image: linear-gradient(to right, #f4f0ebee, #ffffff, #f4ede5ee);


}

.nav-line{
  position: absolute;
  border-bottom: solid rgba(0, 0, 0, 0.103) 1px;
  top: 0%;
  left: 0px;
  height: 75px;
  width: 100%;
}

.logo {
  position: relative;
  transform: scale(.6);
  cursor: pointer;
  right: 35px;
}


.nav-user-buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 40px;
}


.nav-profile-button,
.nav-host-button{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: solid rgb(0, 0, 0,0.3) .1px;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  top: 23px;
  font-size: 13px;
  height: 33px;
}

.nav-host-button{
  left: 20px;
  width: 143px;
}

.nav-profile-button {
  right: 25px;
  width: 80px;
  height: 33.5px;

}


@media screen and (max-width: 590px) {
  .nav-host-button{
    visibility: hidden;
  }
}



.profile-button-active {
  background-color: #fff9f2ee;
  box-shadow: rgba(127, 127, 127, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  transform: scale(1.2);
}


 .profile-button-icons{
  width: 35px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
  left: 3px;
 }









